
@font-face {
    font-family: 'idroid';
    src: url('fontes\idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'idroid', 'Segoe UI' Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    font-weight: normal;
    background-image: linear-gradient(to bottom, rgb(12, 119, 151), rgb(4, 57, 155), rgb(5, 25, 36));
    text-align: center;
    margin: auto;
    height: 170px;
    color: aliceblue;
    border-radius: 10px;
}

nav {
    text-align: left;
    max-width: 800px;
    min-width: 200px;
    padding-top: 30px;

}

nav > a {
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    text-decoration: solid;
}

a:hover {
    background-color: lightblue;
    border-radius: 2px;
    color: rgb(4, 57, 155);
}

h1#tit1 {
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2#sub1 {
    font-weight: 100;               /* Grossura da fonte */
    min-width: 200px;
    margin-bottom: 0;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', Cambria, Geneva, Verdana, sans-serif;
    background-color:lightblue;
}

main {
    background-color: azure;
    border-radius: 10px;
    width: 90vw;
    margin: 0 auto;                 /* Deixa a div centralizada */
    padding-bottom: 2px;
}

h3#sub2 {
    padding-top: 10px;
    font-size: 30px;
}

h3#sub3 {
    background-image: linear-gradient(to right, rgb(92, 119, 128), rgb(154, 177, 218), azure);
    width: 50vh;
    height: 30px;
    margin-left: 15px;
    border-radius: 10px;
    padding-top: 5px;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(4, 57, 155);
    padding-left: 10px;
}

p {
    padding-left: 10px;
    text-indent: 20px;              /* Dá um espaço na primeira linha do parágrafo */
}

img.imagemDiversosDroids {
    padding-left: 10.5%;
    width: 80%;
}

img#imagemMulher {
    padding-left: 2.5%;
    width: 95%;
}

img#imagemAndroid {
    position: relative;
    top: 5%;                      /*distância de cima em relação a div */
    left: 33%;                     /*distância a esquerda em relação a div */
    width: 30%;
}

div.video {
    background-color: rgb(5, 25, 36);
    padding-bottom: 50%;
    margin-bottom: 0px;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;                      /*distância de cima em relação a div */
    left: 5%;                     /*distância a esquerda em relação a div */
    width: 90%;                     /*largura ocupando espaço dentro da div */
    height: 90%;                    /*altura ocupando espaço dentro da div */
}

article {
    background-color: lightblue;
    width: 80vw;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 7px;
    box-shadow: 8px 9px 6px #888888;   /* Direita (8px), baixo (9px), nível de espessura da sombra (6px)*/
}

h3#sub4 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(12, 119, 151);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: azure;
}

ul {
    float: left;
    width: 50%;                     /* Cada "ul" ocupa 50% da largura do contêiner */
    background-color: lightblue;
    border: 1px solid lightblue;  /* deixei a borda invível com a mesma cor do background */
    box-sizing: border-box;         /* Para que a borda não afete a largura */
}

li {
    list-style-type:square;         /* Os tópicos serão marcados por quadrados dentro da lista */
}

footer {
    background-color: rgb(4, 57, 155);
    text-align: center;
    border-radius: 10px;
    color: azure;
    font-weight: bolder;
    padding: 0;
}

footer > p {
    padding-top: 3px;
    padding-bottom: 4px;
}